header img {
    width: 900px;
    max-width: 80% ;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
#meio {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    width: 1200px;
    height: 490px;
    max-width: 90%;
}
#meioesquerda {
    top: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-color: blueviolet;
}
#meiodireita {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}